@import url('../pico.min.css');

@property
:root {
  /* offset-x (required). 
    The horizontal offset for the shadow, specified as a <length> value. Negative values place the shadow to the left of the element
    */
  --offsetX: 0rem;

  /* offset-y (required) 
    The vertical offset for the shadow,
    specified as a <length>value. Negative values place the shadow above the element.
    */
  --offsetY: 0rem;

  /*
    blur-radius (optional)
    The shadow's blur radius, specified as a <length>. The larger the value, the larger and more blurred the shadow becomes. If unspecified, it defaults to 0, resulting in a sharp, unblurred edge. Negative values are not allowed
    */
  --blurRadius: 0rem;

  /* 
    color (optional)
    The color of the shadow, specified as a <color>. If unspecified, the value of the color property is used. 
    */
  --color: black;


  /* The hue-rotate() function applies a color rotation to the elements on which it is applied. */
  --hueRotate: 0deg;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
}

.container {
  max-width: 100%;
  display: grid;
  min-height: 100vh;
  place-items: center;
}

.container{
  margin: 0;
  max-width: 100%;
}

.box {
  width: 20rem;
  aspect-ratio: 1/1;
  height: fit-content;
  margin-block: 1.4rem;
  border: 10px solid slategray;
  filter: drop-shadow(var(--offsetX) var(--offsetY) var(--blurRadius) var(--color)) hue-rotate(var(--hueRotate));
  
}

code {
  margin-inline: 1rem;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: .8rem;
  background-color: #C1C7FF;
  color: #1F1F22;
  transition: 1000ms all ease-in;
  border: 2px solid #ccc;
}


.clipboard {
  font-size: 1.24rem;
  border-radius: 0.325rem;
  border: 1px solid hsla(233, 12%, 88%, 1);
}

.copy {
  overflow-x: scroll;
  text-wrap: nowrap;
  text-wrap: none;
}

.slider {
  display: flex;
  max-width: 100%;
  width: 70vw;
  margin: 2rem 0.6rem;
  flex-direction: column;
}