.container{
  background-image: url('../media/firefox-logo.svg');
  background-size: 100%;
  width: 100dvw;
  min-height: 100dvh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
   /* object-fit: cover; */
}

.box{
  width: 180px;
  height: 180px;
  border: 10px solid hsla(0%, 0%, 100%, .5);
  background: white;
  background-clip: padding-box;
}